html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
}

body{
  background-color: rgb(246, 255, 123);
}

@font-face {
  font-family: Amakan;
  src: url("fonts/Amakan-Strips.otf");
}

.container{
  display: flex;
  font-family: Amakan;
}

#ui{
  background-color: rgba(140, 255, 0, 0.57);
  width: 20vw;
  height: 100vh;
}

label{
  font-size: 1em;
  text-align: center;
}

h1{
  font-size: 2em;
}

.content {
  display: flex;
  justify-content: space-between;
}

#canvasWrapper{
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 80vw;
  height: 100vh;
  background-color: rgb(255, 0, 85);
}

